/* NOTE:
    font-family: 'Fredericka the Great', cursive;

    font-family: 'Happy Monkey', cursive;

    font-family: 'Nixie One', cursive;
 */

p {
  font-family: 'Nixie One', cursive;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.emphasis-1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  line-height: 83px;
  text-align: right;
}


.kerning-adj {
  letter-spacing: -2px;
}

.kerning-adj-2 {
  letter-spacing: -1px;
}

.kerning-adj-3 {
  letter-spacing: -5.5px;
}

/* NOTE: 1 | section 1 from reference printout */
.section-one {
  border: double 7px #030303;
  width: 500px;
  margin: 30px 20px;
  padding: 10px 17px;
}


/* NOTE: 2 | section 2 from reference printout */
.section-two {
  /* background: #ff5555;  */
  overflow: hidden;
}

    .section-ten {
      float: left;
    }

      .line-a {
        font-size: 33.2px;
        line-height: 29px;
      }

      .line-b {
        font-size: 21.2px;
        line-height: 27.9px;
      }

      .line-c {
        font-size: 24.2px;
        line-height: 24.2px;
      }

    .section-eleven {
      float: left;
    }




/* NOTE: 3 | section 3 from reference printout */
.section-three {
  /* background: #ffbb00; */
  width: 500px;

}

    .line-d {
      font-size: 21.2px;
      line-height: 16px;
      word-spacing: 5.5px;
    }

    .line-e {
      font-size: 28px;
      line-height: 27.9px;
      word-spacing: 1.1px;
    }

    .line-f {
      font-size: 17.39px;
      word-spacing: 1.6px;
    }

    .line-g {
      font-size: 17.39px;
    }

    .line-h {
      font-size: 21.2px;
      line-height: 27px;
      letter-spacing: .7px;
    }

    .line-i {
      font-size: 29px;
      line-height: 25px;
      word-spacing: 2.6px;
      letter-spacing: .29px;
    }


/* NOTE: 4 | section 4 from reference printout */
.section-four {
  /* background: #ffee00; */
  overflow: hidden;
}

    .section-twelve {
      float: left;
    }

        .line-j {
          font-size: 23px;
          line-height: 29px;
          word-spacing: 5.5px;
        }

        .line-k {
          font-size: 35.7px;
          line-height: 35px;
          word-spacing: 5px;
          letter-spacing: .53px;
        }

    .section-thirteen {
      float: left;
      padding-left: 7px;
    }

        .line-l {
          font-size: 12px;
          word-spacing: 1.6px;
          letter-spacing: .295px;
        }

        .line-m {
          font-size: 13px;
          word-spacing: 2.2px;
          letter-spacing: .45px;
          line-height: 1.7;
        }

        .line-n {
          font-size: 23px;
          word-spacing: 1.6px;
          line-height: 1;
        }



/* NOTE: 5 | section 5 from reference printout */
.section-five {
  /* background: #00ff67; */
}

    .line-o {
      font-size: 18px;
      word-spacing: .48px;
    }

    .line-p {
      font-size: 18px;
      word-spacing: 3px;
      letter-spacing: .152px;
    }

    .line-q {
      font-size: 17px;
      word-spacing: .37px;
    }

    .line-r {
      font-size: 19.5px;
      word-spacing: 1.62px;
    }


/* NOTE: 6 | section 6 from reference printout */
.section-six {
  /* background: #00eebb; */
  overflow: hidden;
}

    .section-fourteen p {
      line-height: 1;
    }

    .section-fourteen {
      float: left;
    }

        .line-s {
          font-size: 37px;
        }

    .section-fifteen p {
      line-height: .9;
    }

    .section-fifteen {
      float: left;
      padding-left: 7px;
      padding-top: 3.5px;
      overflow:  visible;
    }

        .line-t {
          font-size: 17px;
          word-spacing: 2.5px;
          letter-spacing: 1.74px;
        }

        .line-u {
          font-size: 15px;
          letter-spacing: .22px;
        }



/* NOTE: 7 | section 7 from reference printout */
.section-seven {
  /* background: #0099ff; */
}

    .line-v {
      font-size: 18px;
      word-spacing: .02px;
      line-height: 1;
    }

    .line-w {
      font-size: 22px;
      word-spacing: 1px;
      letter-spacing: .335px;
      line-height: 25px;
    }

    .line-x {
      font-size: 25px;
      word-spacing: 1.43px;
      letter-spacing: .5px;
      line-height: 1;
    }

    .line-y {
      font-size: 27px;
      word-spacing: 1.85px;
      letter-spacing: .81px;
      line-height: 1;
    }

/* NOTE: 8 | section 8 from reference printout */
.section-eight {
  /*background: #0000a3; */
  padding-top: 2px;
  overflow: hidden;
}

.section-eight p {
  /* color: white; */
  line-height: 0;
}

    .section-sixteen {
      float: left;

    }

        .line-z {
          font-size: 63px;
          line-height: 50px;
          word-spacing: 1px;
          letter-spacing: 1px;
        }

        .line-aa {
          font-size: 63px;
          line-height: 1;
          letter-spacing: -1.3px;
        }

    .section-seventeen {
      float: left;
      padding-left: 7px;
      padding-top: 1.5px;
    }

        .line-ab {
          font-size: 28px;
          line-height: 1;
          word-spacing: 1.5px;
          letter-spacing: .6px;
          line-height: 25px;
        }

        .line-ac {
          font-size: 45px;
          word-spacing: 1.06px;
          letter-spacing: .46px;
          line-height: 47px;
        }

        .line-ad {
          font-size: 35px;
          line-height: 1;
        }


/* NOTE: 9 | section 9 from reference printout */
.section-nine {
  /*background: #a300a3; */
  padding-top: 7px;
  padding-right: 4px;
  display: flex;
  justify-content: space-between;
}

.section-nine p {
  font-family: 'Happy Monkey', cursive;
  font-size: 10px;
  letter-spacing: .5px;
  }
        .line-ae-1 {
          display: flex;
        }

        .line-ae-2 {
          display: flex;
        }

        .line-ae-3 {
          display: flex;
        }

/* NOTE: 18 | section 18 from reference printout */
.section-eighteen {
  /*background: #a300a3; */
  display: flex;
  justify-content: center;
  padding-right: 4px;
  }

.section-eighteen p {
  font-family: 'Happy Monkey', cursive;
  font-size: 10px;
  word-spacing: 3.5px;
  letter-spacing: .5px;
  }
